In [61]:
import pandas as pd
import re

# Baca data dari 5 file Excel
file_paths = ['data banjir.xlsx', 'data kebakaran.xlsx', 'data kekeringan.xlsx', 'data tanah longsor.xlsx', 'data puting beliung.xlsx']
dfs = [pd.read_excel(file) for file in file_paths]

# Tambahkan kolom 'Bencana' ke masing-masing DataFrame untuk mengidentifikasi jenis bencana
for i, df in enumerate(dfs):
    df['Bencana'] = file_paths[i].replace('data ', '').replace('.xlsx', '')


# Gabungkan data menjadi satu DataFrame
combined_data = pd.concat(dfs)

def replace_comma_with_dot(value):
    if re.match(r'^\d{1,3}(,\d{3})*(\.\d+)?$', value):
        # Format benar, ganti koma dengan titik
        return value.replace(',', '.')
    else:
        # Format salah, biarkan nilai asli
        return value

combined_data['Meninggal'] = combined_data['Meninggal'].apply(replace_comma_with_dot)

# combined_data['Meninggal'] = combined_data['Meninggal'].str.replace(',', '')
# combined_data["Meninggal"] = pd.to_numeric(combined_data["Meninggal"], errors='ignore')
combined_data
# combined_data[combined_data.Bencana == 'banjir']

,Propinsi,Laki-laki,Perempuan,Jumlah (L+P),Jumlah Bencana,Meninggal,Hilang,Terluka,Menderita,Mengungsi,...,Rumah,Fasilitas Pendidikan,Fasilitas Kesehatan,Fasilitas Peribadatan,Fasilitas Umum,Perkantoran,Jembatan,Pabrik,Kios,Bencana
0,11. Aceh,773.000,163.0,104.0,608.000,1530386,999.341,"2,530,602",53.634,725.000,...,288.000,0,78.0,447.0,0,84.000,NaN,NaN,NaN,banjir
1,12. Sumatera Utara,688.000,365.0,177.0,12.668,1041982,277.73,"1,332,922",26.790,987.000,...,102.000,9,15.0,104.0,1,77.000,NaN,NaN,NaN,banjir
2,13. Sumatera Barat,489.000,129.0,24.0,133.000,NaN,141.489,339.324,12.965,169.000,...,130.000,0,20.0,299.0,0,489.000,NaN,NaN,NaN,banjir
3,14. Riau,221.000,54.0,1.0,5.789,NaN,145.498,890.9,30.584,829.000,...,547.000,0,7.0,144.0,0,0.000,NaN,NaN,NaN,banjir
4,15. Jambi,292.000,31.0,12.0,881.000,NaN,92.387,533.269,12.081,541.000,...,110.000,0,29.0,40.0,0,1.000,NaN,NaN,NaN,banjir
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,81. Maluku,40.000,2.0,0.0,3.000,NaN,576.0,1.062,609.000,7.000,...,3.000,0,4.0,0.0,0,0.000,NaN,NaN,NaN,puting beliung
31,82. Maluku Utara,23.000,1.0,0.0,0.000,NaN,173.0,1.381,759.000,4.000,...,4.000,0,0.0,0.0,0,0.000,NaN,NaN,NaN,puting beliung
32,91. Papua Barat,4.000,0.0,1.0,6.000,NaN,0.0,7.0,38.000,0.000,...,0.000,0,0.0,0.0,0,0.000,NaN,NaN,NaN,puting beliung
33,94. Papua,13.000,1.0,0.0,10.000,NaN,463.0,1.747,340.000,3.000,...,3.000,0,1.0,0.0,0,0.000,NaN,NaN,NaN,puting beliung
34,Jumlah,11.288,461.0,49.0,3.983,NaN,47.427,450.889,318.966,1.282,...,1.046,89,377.0,215.0,13,1.547,NaN,NaN,NaN,puting beliung

In [43]:
import matplotlib.pyplot as plt
import seaborn as sns

# drop
# Membuat plot
plt.figure(figsize=(12, 6))
sns.barplot(data=combined_data, x='Propinsi', y='Meninggal', hue='Bencana', palette='viridis')
plt.xlabel('Provinsi')
plt.ylabel('Jumlah Korban Meninggal')
plt.title('Jumlah Korban per Provinsi dari Berbagai Bencana')
plt.xticks(rotation=90)
plt.legend(title='Bencana', loc='upper right')
plt.tight_layout()

# Menampilkan plot
plt.show()

TypeError: Neither the `x` nor `y` variable appears to be numeric.